<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>python</title>
</head>
<body>
    <center>
        <h1>hey balaji today are you attend my class</h1>

        <a href="{% url 'specific:balaji' %}"><h2>response of balaji</h2></a>

        <h1>hey roshni today are you attend my class</h1>

        <a href="{% url 'specific:roshni' %}"><h3>response of roshni</h3></a>

        <h1>hey django check today balaji and roshni both of attend your class or not</h1>

        <a href="{% url 'django' %}"><h4>response of django</h4></a>
    </center>
</body>
</html>